<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>N1_I1</display-name>
 <servlet>
  <display-name>ServletUsuario</display-name>
  <servlet-name>ServletUsuario</servlet-name>
  <servlet-class>co.edu.uniandes.prodAndes.servlets.ServletUsuario</servlet-class>
 </servlet>
 <servlet>
  <display-name>CopyOfConsultasGenerales2</display-name>
  <servlet-name>ServletConsultasGenerales</servlet-name>
  <servlet-class>co.edu.uniandes.prodAndes.servlets.ServletConsultasGenerales</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ServletIndex</servlet-name>
  <servlet-class>co.edu.uniandes.prodAndes.servlets.ServletIndex</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ServletRegistroEjec</servlet-name>
  <servlet-class>co.edu.uniandes.prodAndes.servlets.ServletRegistroEjec</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ServletMenu</servlet-name>
  <servlet-class>co.edu.uniandes.prodAndes.servlets.ServletMenu</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ServletRegistrarCliente</servlet-name>
  <servlet-class>co.edu.uniandes.prodAndes.servlets.ServletRegistroCliente</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>ServletConsultasGenerales</servlet-name>
  <url-pattern>/consultaGeneral.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletUsuario</servlet-name>
  <url-pattern>/prueba.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletIndex</servlet-name>
  <url-pattern>/index.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletRegistroEjec</servlet-name>
  <url-pattern>/registroEjec.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletMenu</servlet-name>
  <url-pattern>menu.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletRegistrarCliente</servlet-name>
  <url-pattern>registroCliente.html</url-pattern>
 </servlet-mapping>
</web-app>
